.ng-invalid.ng-dirty{
	border-color: #FA787E;
}
.ng-valid.ng-dirty{
	border-color: #78FA89;
}
.main-img{
	margin-right: 100px;
	float: right;
	border: 1px solid #ddd;
    border-radius: 4px;
}
.small-image{
	width: 100px;
}