<!DOCTYPE html>
<html ng-app="store">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="../main.css">

	<title></title>
</head>
<body ng-controller="StoreController as store">
	<ul class = "list-group">
   		<li class = "list-group-item" ng-repeat="product in store.products | orderBy: '-price'">
   			<product-title></product-title>
  			
  		 	<section ng-controller="PanelController as panel">
  		 		<ul class = "nav nav-pills">
  		 				<li ng-class="{active:panel.isSelected(1)}"
  		 				><a href ng-click = "panel.selectTab(1)">Description</a></li>
  		 				<li ng-class="{active:panel.isSelected(2)}"><a href ng-click = "panel.selectTab(2)">Specifications</a></li>
  		 				<li ng-class="{active:panel.isSelected(3)}""><a href ng-click = "panel.selectTab(3)">Reviews</a></li>
  		 		</ul>
  		 		<div ng-show = "panel.isSelected(1)" ng-include="'product-description.html'">
         			<!-- <h4>Description</h4>
          			<blockquote>{{product.description}}</blockquote> -->
        		</div>
         		<div ng-show = "panel.isSelected(2)">
          			<h4>Specs</h4>
          			    <ul class="list-unstyled">
             			 <li>
             			   <strong>Shine</strong>
             			   : {{product.shine}}</li>
             			 <li>
             			   <strong>Faces</strong>
             			   : {{product.faces}}</li>
             			 <li>
             			   <strong>Rarity</strong>
             			   : {{product.rarity}}</li>
             			 <li>
             			   <strong>Color</strong>
             			   : {{product.color}}</li>
            			</ul>
        		</div>
        		 <div ng-show = "panel.isSelected(3)">   
        		 <!--  Product Reviews List -->
           			 <ul>
              <h4>Reviews</h4>
              <li ng-repeat="review in product.reviews">
                <blockquote>
                
                  <strong> {{review.stars}} Stars</strong>
                  {{review.body}}
                  <cite class="clearfix"> - {{review.author}} on {{review.createdOn | date}}</cite>
                </blockquote>
              </li>
           			 </ul>
             <!--  Review Form -->
              <h4>Submit a Review</h4>
             <form name = "reviewForm" ng-controller = "ReviewController as reviewCtrl"
             	ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
              <blockquote>         
                  <strong> {{reviewCtrl.review.stars}} Stars</strong>
                  {{reviewCtrl.review.body}}
                  <cite class="clearfix"> - {{reviewCtrl.review.author}}</cite>
                </blockquote>
              <fieldset class="form-group">
                <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" ng-model = "reviewCtrl.review.stars" required>
                  <option value="">Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea class="form-control" placeholder="Write a short review of the product..." title="Review" ng-model = "reviewCtrl.review.body" required></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" ng-model = "reviewCtrl.review.author" required/>
              </fieldset>
              <div>reviewForm is {{reviewForm.$valid}}</div>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset> 
              </form>		 
        		</div>
  		
  		 <!-- Image Gallery  -->
  			<div ng-show = "panel.isSelected(1) || panel.isSelected(2)">
      			<div class="gallery" ng-show="product.images.length > 0" ng-controller="GalleryController as gallery">
        			<div class="img-wrap main-img">
        		  <img ng-src="{{product.images[gallery.current]}}" />
        			</div>
        			<ul class="img-thumbnails clearfix">
        		  		<li class="small-image pull-left thumbnail small-image" ng-repeat="image in product.images" >
        		   			 <a href ng-click="gallery.setCurrent($index)"><img ng-src="{{image}}" /></a>
        		  		</li>
        			</ul>
      			</div>
      		</div>
 			</section>
   			<button ng-show="product.canPurchase" class = "btn btn-primary">Add to cart</button>
   		</li>
   	</ul>

	<script type = "text/javascript" src = "../angular.min.js"></script>
	 <script type = "text/javascript" src = "../app/app.js"></script>
	 
</body>
</html>